# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
bin/
pkg/
*.log

# React
node_modules/
build/
dist/
.cache/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# IDEs
# .vscode/
.idea/
*.swp
*.swo
.DS_Store